.newPasswordContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
#newPasswordCard{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 60vh;
      align-items: center;
    justify-content: space-between;
  }
  
  .newPasswordInnerCard {
    display: flex;
    height: 70vh;
    width: 80%;
  }
  .newPasswordInput {
    display: flex;
    flex-direction: column;
    width:200%;
    height: 100%;
  
  }
  .passwordParagraph{
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 3%;
  }
  