.fundoonotes-fullpage {
  background-color: white;
  height: 100vh;
}
.fundoonotes-navBar {
  height: 12vh;
  background: white;
  border-bottom: 1px solid lightgrey;
}
.fundoonotes-navBarItems {
  display: flex;
  flex-direction: row;
  padding: 0.8em;
}
.navBarDehazComponent{
    width:5%;
    padding-top: .5em;
    
}
.navBarLogoComponent{
    width:4%;
}
.logoComponent{
    
}
.navBarnotesComponent{
    display: flex;
    width: 18%;
}
.notesComponent{
    width: 100%;
    text-align: left;
    font-size: x-large;
    padding-left: .4em;    
}

.navBarSearchOutlineComponent{
    
    width:50%;
}
.navBarSearchComponents {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 7vh;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: left;
  /* box-shadow: 0px 0px 4px 4px #ccc; */
}
.navBarSearchBarComponents {
  width: 5%;
  justify-content: space-around;
  padding: .4em;
}
.SearchBarComponent{
    width:100%;
    padding: .4em;
    font-size:medium;
}

.navBarRefreshComponent{
width: 4%;
padding-top:.45em;
}
.navBarAgendaComponent{
    width: 4%;
    padding-top:.45em;
    
}
.navBarSettingComponent{
    width: 4%;
    padding-top:.45em;
}
.navBardottedComponent{
    width:5%;
    padding-top: .45em;

}
.dottedComponent{
    text-align:right ;
}
.navBarAccountCircleComponent{
    width:5%;
    padding-top: .45em;
}
.accountCircleComponent{
    text-align:right ;
}
@media only screen and (max-width:862px){
    .navBarSearchOutlineComponent{
    
        width:40%;
    }
    .navBarnotesComponent{
        display: flex;
        width: 25%;
    }
}
@media only screen and (max-width:638px){
    .navBarSearchOutlineComponent{
    
        width:35%;
    }
    .navBarnotesComponent{
        display: flex;
        width: 30%;
    }
}
@media only screen and (max-width:495px){
    .navBarSearchOutlineComponent{
    
        width:30%;
    }
    .navBarnotesComponent{
        display: flex;
        width: 33%;
    }
    .navBarRefreshComponent{
        width: 8%;
        padding-top:.45em;
        }
        .navBarAgendaComponent{
            width: 8%;
            padding-top:.45em;
            
        }
        .navBarSettingComponent{
            width: 8%;
            padding-top:.45em;
        }
        .navBardottedComponent{
            width:8%;
            padding-top: .45em;
        
        }
        .dottedComponent{
            text-align:right ;
        }
        .navBarAccountCircleComponent{
            width:8%;
            padding-top: .45em;
        }
        .accountCircleComponent{
            text-align:right ;
        }
}
@media only screen and (max-width:400px){
    .navBarSearchOutlineComponent{
    
        width:15%;
    }
    .navBarnotesComponent{
        display: flex;
        width: 40%;
    }
    .navBarSearchBarComponents {
        width: 3%;
        justify-content: space-around;
        padding: .4em;
      }
}
@media only screen and (max-width: 576px) {
    .navBarnotesComponent{
        display: flex;
        width: 35%;
    }
    .notesComponent{
        width: 100%;
        text-align: left;
        font-size: x-large;
        padding-left: .4em;    
    }
    .navBarSearchOutlineComponent{
    
        width:30%;
    }
    .navBarSearchBarComponents {
        width: 5%;
        justify-content: space-around;
        padding: .4em;
      }
      .SearchBarComponent{
          width:100%;
          padding: .4em;
          font-size:medium;
      }
    .navBarRefreshComponent{
        width: 7%;
        padding-top:.45em;
        }
        .navBarAgendaComponent{
            width: 7%;
            padding-top:.45em;
            
        }
        .navBarSettingComponent{
            width: 7%;
            padding-top:.45em;
        }
        .navBardottedComponent{
            width:7%;
            padding-top: .45em;
        
        }
        .dottedComponent{
            text-align:right ;
        }
        .navBarAccountCircleComponent{
            width:7%;
            padding-top: .45em;
        }
        .accountCircleComponent{
            text-align:right ;
        }
}
.fundooContainer{
    height:100vh;
    width:100%;
    
}
.fundooContainerBar{
    height:100vh;
    display: flex;
    flex-direction:row;
}
.fundooSidebar{
    width:20%;
    height:85vh;
    
}
.sideBarEmojiObjectsComponent{
    
    height:10vh;
    padding-top:1em;
    padding-left:.7em;
    padding-right:1em; 
}
.EmojiObjectsComponent{
    text-align:center;
    background: #ffee82;
    width:15%;
    height:5vh;
    padding-top: .4em;
    padding-left: .3em;
    padding-right: .4em;
    padding-bottom: .4em;

     border-radius: 80%; 
}
.sideBarNotificationsComponent{
    
    padding:1em;
}
.NotificationsComponent{
    text-align:left;
}
.sideBarEditComponent{
    
    padding:1em;
}
.EditComponent{
    text-align:left;
}
.sideBarArchiveComponent{
    
    padding:1em;
}
.ArchiveComponent{
    text-align:left;
}
.sideBarDeleteComponent{
    
    padding:1em;
}
.DeleteComponent{
    text-align:left;
}
.headerConatiner{
height:30vh;
width:85%;

}
.headerNotesContainer{
    height: 16vh;
    width:100%;
    padding-left: 10em;
    padding-top: 2em;
    
    
}
.bodyNotesContainer{
    height: 50vh;
    width:85%;
    display: flex;
    flex-direction: row;

}
.midContainer{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.bodyContainer{
    width:100%;
    display: flex;
    flex-direction: row;
    height: auto;

    
}

/* .navBarSearchComponents{
    display: flex;
    flex-direction: row;
}
.searchIconComponent{
    width:5%;
    background:bisque;
} */
